BOT_TOKEN=bot_token
CHANNEL_ID=-1001234567890
CHANNEL_URL=https://t.me/
ADMIN_GROUP_ID=-1001234567891

# прокси
BOT_PROXY_URL=

# постгерс:
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=botik
DB_USER=botik
DB_PASSWORD=your_secure_password
DB_POOL_MIN_SIZE=2
DB_POOL_MAX_SIZE=10

# айди админа
INITIAL_ADMIN_IDS=123456789
